<div class="page-global">
<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" (click)="toggleAllMenu()" routerLink="/games" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item" (click)="toggleEditorMenu()" [ngClass]="{ 'show-sub-nav': showEditorMenu }">
      <a class="nav-link">Editor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleAllMenu()" routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <ng-container *ngIf="showform==true">
      <li class="nav-item" (click)="toggleLoginMenu()" [ngClass]="{ 'show-sub-nav': showLoginMenu }">
        <a class="nav-link">Login</a>
      </li>
    </ng-container>
  </ul>
</nav>
<ng-container *ngIf="showEditorMenu">
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="toggleAllMenu()">Back</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/developers" routerLinkActive="active">Developers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/genres" routerLinkActive="active">Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/games/add" routerLinkActive="active">Games</a>
      </li>
    </ul>
  </nav>
</ng-container>
<ng-container *ngIf="showLoginMenu">
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="toggleAllMenu()">Back</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li >
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Registration</a>
      </li>
    </ul>
  </nav>
</ng-container>
<div style=" margin-top: 40px;">
<router-outlet></router-outlet>
</div>
</div>