.games-container {
    display: flex;
      flex-direction: row;
      padding: 5px;
      padding-left: 15px;
      align-items: flex-start;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: rgb(205, 224, 241);
      .games-list {
        flex-grow: 1;
        h1 {
          font-size: 24px;
          margin-left: 4%;
        }
    
        ul {
          list-style-type: none;
          padding: 0;
    
          li {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
    
            &:before {
              content: "■";
              margin-right: 8px;
            }
          }
        }
      }
    
      .add-buttonblock {
        margin-top: 16px; 
    }
    .del-button{
      padding: 10px 20px;
      background-color: #af4c4c; /* Зеленый цвет фона кнопки */
      color: #fff; /* Белый цвет текста кнопки */
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      margin-left: 5%;
      .del-button:hover {
        background-color: #a04545; /* Изменение цвета фона при наведении */
      }
    }
    
    .edit-button{
      padding: 10px 20px;
      background-color: #4cadaf; /* Зеленый цвет фона кнопки */
      color: #fff; /* Белый цвет текста кнопки */
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      margin-left: 5%;
      .edit-button:hover {
        background-color: #4597a0; /* Изменение цвета фона при наведении */
      }
      
    }
    .add-button {
      padding: 8px 16px;
      margin-left: 4%;
      background-color: #4CAF50; 
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
    
    
  }
  
  .deledit
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .forms
  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10%;
    margin-top: 10%;
    option {
      padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    select {
      padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .form-field{
      display: flex;
      flex-direction: row;
    }
    .edit-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      margin-top: 5px;
      margin-left: 4%;
      margin-right: 16px;
  
      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      button {
        margin-left: 8px;
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        add:hover {
          background-color: #0056b3;
        }
      }
    }
    .add-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 16px;
      margin-right: 16px;
        
        select {
            padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        }

      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      option {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      button {
        margin-left: 8px;
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        add:hover {
          background-color: #0056b3;
        }
      }
    }
  }